@model Numerical_Stroop.Models.Scenario

<h2>Scenario 2</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal row">
        <div class="col-xs-8">
            <h4>
                Imagine a restaurant near your house has a sudden increase in reservations and would like to feed @ViewBag.Question1 more
                customers than it did last year. Do you think there are ways that the restaurant would be able to do this? How should they
                go about it?
            </h4>
            <hr />
            <h4>
                Please write how you would respond to this scenario in the box below. Be as detailed as possible. You may write as little or as much as you need to answer the question:
            </h4>
        </div>
        <div class="col-xs-4">
            <img src="~/Content/Image-control-scenario-2.png" alt="Financial Image" />
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-xs-10">
                <input type="submit" value="Continue >>" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $('#Answer').focus();
</script>
}
